.chat-main
  .chat-main__group-info
    .left-content
      .left-content__group-name
        = @group.name
      .left-content__group-members
        Member:   
        %ul.left-content__group-members--row 
          - @group.users.each do |user|
            %li.left-content__group-members--margin= user.name
    = link_to edit_group_path(@group), class: "right-content" do
      .right-content__text
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    .message-form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'message-form__type', placeholder: "type a message"
        .message-form__icon
          = f.label :image do
            = icon('fas', 'image')
            =f.file_field :image, class: 'message-form__file-btn'
        = f.submit 'Send', class:'send-btn'